.check-all-button {
  height: 80px;
  width: 710px;
  background: #00A7FE;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0.38px;
  margin: 20px 0;

  &.active{
    background: #0084DB;
  }
}